*
!/.github/
!/.github/workflows/
!/.github/workflows/*.yaml
!/.gitignore
!/.gitmodules
!/*.cc
!/*.hpp
!/CMakeLists.txt
!/.gitattributes
!/Shijima-Qt.app/
!/Shijima-Qt.app/Contents/
!/Shijima-Qt.app/Contents/Resources/
!/Shijima-Qt.app/Contents/Resources/AppIcon.icns
!/Shijima-Qt.app/Contents/Info.plist
!/Makefile
!/common.mk
!/dev-docker/
!/dev-docker/Dockerfile
!/Platform/
!/Platform/*.hpp
!/Platform/Makefile
!/Platform/Linux/
!/Platform/Linux/*.cc
!/Platform/Linux/*.hpp
!/Platform/Linux/kwin_script.js
!/Platform/Linux/gnome_script/
!/Platform/Linux/gnome_script/extension.js
!/Platform/Linux/gnome_script/metadata.json
!/Platform/Linux/Makefile
!/Platform/Linux/*.cc
!/Platform/Linux/*.hpp
!/Platform/macOS/
!/Platform/macOS/Makefile
!/Platform/macOS/*.cc
!/Platform/macOS/*.mm
!/Platform/macOS/*.hpp
!/Platform/Stub/
!/Platform/Stub/Makefile
!/Platform/Stub/*.cc
!/Platform/Stub/*.hpp
!/Platform/Windows/
!/Platform/Windows/Makefile
!/Platform/Windows/*.cc
!/Platform/Windows/*.hpp
!/find_dlls.sh
!/com.pixelomer.ShijimaQt.png
!/shijima-qt.ico
!/com.pixelomer.ShijimaQt.desktop
!/com.pixelomer.ShijimaQt.metainfo.xml
!/resources.rc
!/cmake/
!/cmake/*.cmake
!/libshimejifinder
!/libshijima
!/README.md
!/licenses/
!/licenses/*.rst
!/licenses/*.txt
licenses_generated.hpp
DefaultMascot.cc
!/bundle-default.sh
!/DefaultMascot/
!/DefaultMascot/actions.xml
!/DefaultMascot/behaviors.xml
!/DefaultMascot/img/
!/DefaultMascot/img/shime*.png
!/cpp-httplib
!/HTTP-API.md
!/LICENSE
!/.images/
!/.images/*.jpg
!/.images/*.png
