*
!/.github/
!/.github/workflows/
!/.github/workflows/*.yaml
!/.gitignore
!/.gitmodules
!/**/*.cc
!/**/*.hpp
!/CMakeLists.txt
!/.gitattributes
!/src/packaging/Shijima-Qt.app/
!/src/packaging/Shijima-Qt.app/Contents/
!/src/packaging/Shijima-Qt.app/Contents/Resources/
!/src/packaging/Shijima-Qt.app/Contents/Resources/AppIcon.icns
!/src/packaging/Shijima-Qt.app/Contents/Info.plist
!/Makefile
!/common.mk
!/dev-docker/
!/dev-docker/Dockerfile
!/src/platform/Platform/
!/src/platform/Platform/*.hpp
!/src/platform/Platform/Makefile
!/src/platform/Platform/Linux/
!/src/platform/Platform/Linux/*.cc
!/src/platform/Platform/Linux/*.hpp
!/src/platform/Platform/Linux/kwin_script.js
!/src/platform/Platform/Linux/gnome_script/
!/src/platform/Platform/Linux/gnome_script/extension.js
!/src/platform/Platform/Linux/gnome_script/metadata.json
!/src/platform/Platform/Linux/Makefile
!/src/platform/Platform/Linux/*.cc
!/src/platform/Platform/Linux/*.hpp
!/src/platform/Platform/macOS/
!/src/platform/Platform/macOS/Makefile
!/src/platform/Platform/macOS/*.cc
!/src/platform/Platform/macOS/*.mm
!/src/platform/Platform/macOS/*.hpp
!/src/platform/Platform/Stub/
!/src/platform/Platform/Stub/Makefile
!/src/platform/Platform/Stub/*.cc
!/src/platform/Platform/Stub/*.hpp
!/src/platform/Platform/Windows/
!/src/platform/Platform/Windows/Makefile
!/src/platform/Platform/Windows/*.cc
!/src/platform/Platform/Windows/*.hpp
!/src/tools/find_dlls.sh
!/src/packaging/com.pixelomer.ShijimaQt.png
!/src/packaging/shijima-qt.ico
!/src/packaging/com.pixelomer.ShijimaQt.desktop
!/src/packaging/com.pixelomer.ShijimaQt.metainfo.xml
!/src/resources/resources.rc
!/cmake/
!/cmake/*.cmake
!/src/app/
!/src/app/*.cc
!/include/
!/include/shijima-qt/
!/include/shijima-qt/*.hpp
!/libshimejifinder
!/libshijima
!/README.md
!/licenses/
!/licenses/*.rst
!/licenses/*.txt
licenses_generated.hpp
DefaultMascot.cc
!/src/tools/bundle-default.sh
!/src/assets/DefaultMascot/
!/src/assets/DefaultMascot/actions.xml
!/src/assets/DefaultMascot/behaviors.xml
!/src/assets/DefaultMascot/img/
!/src/assets/DefaultMascot/img/shime*.png
!/cpp-httplib
!/src/docs/HTTP-API.md
!/LICENSE
!/.images/
!/.images/*.jpg
!/.images/*.png
